<!-- Main content -->
<section class="content">
    {{#link-to 'resources.new'}} {{i18n "resources.new"}} {{/link-to}}
    <ul>
        {{#each}}
            ssss
            {{#link-to 'resources.edit' this}} {{name_ua}} {{/link-to}}
        {{/each}}
    </ul>
</section><!-- /.content -->