<section class="content-header">
    <h1>{{header}}</h1>
    <ol class="breadcrumb">
        {{#each crumb in breadcrumbs}}
            <li>
                <a {{bind-attr href=crumb.path}}>{{crumb.name}}</a>
            </li>
        {{/each}}
    </ol>
</section>