<!-- Main content -->
<section class="content">
    {{#link-to 'pages.new'}} {{i18n "pages.new"}} {{/link-to}}

    <ul>
        {{#each}}
            {{#link-to 'pages.edit' this}} {{name_ua}} {{/link-to}}
        {{/each}}
    </ul>
</section><!-- /.content -->