<!-- Main content -->
<section class="content">
    {{#link-to 'pages.new'}} {{i18n "pages.new"}} {{/link-to}}
    {{ view Ela.DataTablesView templateName='pages/datatables' tableId='ProductsDatatable'}}
</section><!-- /.content -->