<!DOCTYPE html>
<html>
<head>
  <title>English Lessons</title>
  <%= stylesheet_link_tag    'front/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'front/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
